body {
    color: black;
    background-color: yellowgreen;
    font-size: 25px;
    /* background-image: images/bg_1; */
    /* background-image: url('images/bg_1.jpg'); */
}

.a1 {
    color: red;
    text-align: center;
}

h1 {
    color: blue
}

p {
    color: blueviolet;
}

.cvs {
    margin: 0 auto;
    text-align: center;
    width: 600;
}

.container {
    margin: auto;
    width: 600px;
}

.inputa {
    /* background-color: white;
    border: 1px gray solid;
    width: 60%; */
}

.btn {
    margin-top: 20px;
    margin-bottom: 50px;

    padding: 15px;
    font-size: 25px;
}

.special{
    color: rgb(83, 121, 34);
    padding: 10px;
    background: white;
    color: rgb(60, 18, 173);
    width: 100px;
	height: 100px;
	line-height: 70px;
	border: 1px  red;
	border-radius: 300px;	/* 高度 */
}

h{
    padding: 10px;
    background: white;
    color: rgb(60, 18, 173);
    width: 100px;
	height: 100px;
	line-height: 70px;
	border: 1px  red;
	border-radius: 300px;	/* 高度 */

}