body {
    color: black;
    background-color: yellowgreen;
    font-size: 25px;
    /* background-image: images/bg_1; */
    /* background-image: url('images/bg_1.jpg'); */
}

.a1 {
    color: red;
    text-align: center;
}

h1 {
    color: blue
}

p {
    color: blueviolet;
}

.cvs {
    margin: 0 auto;
    text-align: center;
    width: 600;
}

.container {
    margin: auto;
    width: 600px;
}

.inputa {
    background-color: white;
    border: 1px gray solid;
    /* width: 60%; */
    margin-left: 20%;
    margin-right: 20%;
    font-family: Microsoft JhengHei;
}

.btn {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 35px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Microsoft JhengHei;
}